@model UniversityMIS.Models.Student

@{
    ViewData["Title"] = "Create Student";
}

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Create New Student</h5>
    </div>
    <div class="card-body">
        <form asp-action="Create" method="post">
            <div class="mb-3">
                <label asp-for="FirstName" class="required form-label"></label>
                <input asp-for="FirstName" class="form-control" placeholder="Enter Student name" required />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="LastName" class="required form-label"></label>
                <input asp-for="LastName" class="form-control" placeholder="Enter Student name" required  />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Age" class="required form-label"></label>
                <input asp-for="Age" class="form-control" placeholder="Enter Student name" required  />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Phone" class="required form-label"></label>
                <input asp-for="Phone" class="form-control" placeholder="Enter Student name" required  />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success">
                <i class="bi bi-check-lg"></i> Save
            </button>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>