@model UniversityMIS.Models.Marks

@{
    ViewData["Title"] = "Update Mark";
}

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Update Mark</h5>
    </div>
    <div class="card-body">
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="Id">
            <div class="row">
                <div class="mb-3">
                    <label asp-for="StudentId" class="required form-label"></label>
                    <select asp-for="StudentId" class="form-select" asp-items="@ViewBag.Students" required></select>
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                    <label asp-for="SemesterId" class="required form-label"></label>
                    <select asp-for="SemesterId" class="form-select" asp-items="@ViewBag.Semesters" required></select>
                <span asp-validation-for="SemesterId" class="text-danger"></span>
            </div>
            </div>
            <div class="row">
                <div class="mb-3">
                    <label asp-for="SubjectId" class="required form-label"></label>
                    <select asp-for="SubjectId" class="form-select" asp-items="@ViewBag.Subjects" required></select>
                <span asp-validation-for="SubjectId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                    <label asp-for="Mark" class="required form-label"></label>
                    <input asp-for="Mark" class="form-control" placeholder="Enter Marks" required />
                <span asp-validation-for="Mark" class="text-danger"></span>
            </div>
            </div>

            <button type="submit" class="btn btn-primary">
                <i class="bi bi-check-lg"></i> Save changes
            </button>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>